
//Descriptive Colors
$white         : #ffffff;
$black         : #000000;
$grey          : #666666;
$red           : #990000;
$green         : #009900;
$orange        : #ff6600;
$yellow        : #ff9900;
$light-blue    : #0066ff;
$midnight-blue : #000033;


//Contextual Colors
$ui-colors     : (
  default      : $grey,
  danger       : $red,
  warn         : $yellow,
  info         : $light-blue,
  success      : $green
);


// Theme Colors
$prim-color    : $midnight-blue;
$sec-color     : $red;
