// .modal__overlay {
//   background-color: rgba(lighten($black, 30%), .15);
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
//   position: fixed;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .modal__overlay--hidden {
//   display: none;
// }
//
// .modal__wrap {
//   background-color: $white;
//   box-shadow: 0 0 10px rgba($black, .15);
//   max-width: 500px;
//   width: 90%;
//   transform: scale(1);
//   z-index: 900;
//   transition: all 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
// }
//
// .modal__overlay--hidden .modal__wrap {
//   z-index: -100;
//   transform: scale(.5);
// }
//
//
// .modal__header {
//   max-width: 100%;
//   padding: .3em;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   & h1 {
//     margin: 0;
//     font-size: 1em;
//   }
// }
// .modal__body {
//   max-width: 100%;
//   padding: .3em;
// }
//
//
// @each $theme, $color in $ui-colors {
//   .modal__header--#{$theme} {
//     background-color: $color;
//     color: $white;
//   }
// }
// .modal__header .modal__trigger {
//   width: 40px;
//   height:40px;
//   line-height: .8;
//   margin-left: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
